
table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #0000ff;
  text-align: left;
  padding: 8px;
  font-size: 15px;
}

tr:nth-child(even){
  background-color: white;
}

tr:nth-child(odd){
  background-color: lightgrey;
}

li{
    display:inline;
}

body {
  background-color: lightblue;
}
