{% extends "base.html" %}
 {% block content %}
 <table>
 <tr>
   <th>username</th>
   <th>password</th>
</tr>
 {% for item in test %}
 <tr>
   <td>{{item.username}}</td>
   <td>{{item.password}}</td>
 </tr>
 {% endfor %}
</table>
{% endblock %}
