{% extends "base.html" %}
{% block content %}
{% else %}

<h1>Login</h1>
<div class="container">
<form action="/" method="post" name="Login">
  <div class="form-group">
    {{ form.hidden_tag() }}
    <p>Username: {{ form.username}}<br>
  </div>
  <div class="form-group">
  </p> Password:
    <p>{{ form.password(type="password") }}<br>
  </div>

  </div>
    <p><input type="submit" value="Login"></p>
</form>
</div>
{% endif %}
{% endblock %}
