{% extends "base.html" %}
 {% block content %}
  {% with messages = get_flashed_messages() %}
   {% if messages %}
    <ul>
     {% for message in messages %}
       <li>{{ message }} </li>
     {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<h1>Add a movie</h1>
<form action="" method="post" name="Add Movie">
  <div class="form-group">
    {{ form.hidden_tag() }}
    <p>Title: {{ form.title }}<br>
  </div>
  <div class="form-group">
    </p> Description:
    <p>{{ form.description }}<br>
  </div>
  <div class="form-group">
    </p>Date Added (DD/MM/YYYY):
    <p>{{ form.date(type="date")}}<br>
  </div>
  <div class="form-group">
    </p>Rating:
    <p>{{form.rating(type="radio")}}<br>
  </div>
  <div class="form-group">
    </p>Watched?:
    <p>{{form.watched(type="checkbox")}}
    </p>
  </div>
    <p><input type="submit" value="Add"></p>
</form>
{% endblock %}
