{% extends "base.html" %}
 {% block content %}
 <table>
 <tr>
   <th>Title</th>
   <th>Description</th>
   <th>Date</th>
   <th>Rating</th>
   <th>Watched?</th>
</tr>
 {% for item in test %}
 <tr>
   <td>{{item.title}}</td>
   <td>{{item.description}}</td>
   <td>{{item.date}}</td>
   <td>{{item.rating}}</td>
   <td>{{item.watched}}<a href="{{url_for('watchedMovie',id=item.id)}}">&#9744</a></td>

 </tr>
 {% endfor %}
</table>
{% endblock %}
