{% extends "base.html" %}
 {% block content %}
 <table>
 <tr>
   <th>Id</th>
   <th>Title</th>
   <th>Description</th>
   <th>Date</th>
   <th>Rating</th>
</tr>
 {% for item in test %}
 <tr>
   <td>{{item.id}}</td>
   <td>{{item.title}}</td>
   <td>{{item.description}}</td>
   <td>{{item.date}}</td>
   <td>{{item.rating}}</td>
 </tr>
 {% endfor %}
</table>
{% endblock %}
